/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.banner_div{
    background-image: url(images/background_img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
#banner_btn_1{
    border: 1px solid white;
    background-color: transparent;
    border-radius: none;
    padding:0px 25px;
}
.three_buttons{
    border: 1px solid black;
    background-color: transparent;
    border-radius: none;
    padding:0px 50px;
}
#btn1{
    padding: 0px 50px !important;
}
#btn2{
    padding: 0px 85px !important;
}
#btn3{
    padding: 0px 57px !important;
}
.icons{
    width: 50px;
}
.article_heading{
    color: #6ed198;
    font-size:medium;
}
.article_link{
    text-decoration: none;
    font-size: smaller;
}
.article_disc{
    font-size: smaller;
}
#readmorebtn{
    padding: 0px 85px !important;
}
.white_border_btn{
    width: 114%;
}
.faq_btn{
    border: 1px solid black;
    background-color: transparent;
    border-radius: none;
    width: 105%;
}