.banner_div{
    background-image: url(images/bg_img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
#banner_btn_1{
    border: 1px solid white;
    background-color: transparent;
    border-radius: none;
    padding:0px 25px;
}
.three_buttons{
    border: 1px solid black;
    background-color: transparent;
    border-radius: none;
    padding:0px 50px;
}
#btn2{
    padding: 0px 85px !important;
}
#btn3{
    padding: 0px 57px !important;
}